<div class="box info-bar">
  <div class="row">
    <div class="col-sm-12 col-md-4 products-showing">
      Showing <strong>12</strong> of <strong>25</strong> products
    </div>

    <div class="col-sm-12 col-md-8  products-number-sort">
      <div class="row">
        <form class="form-inline">
          <div class="col-md-6 col-sm-6">
            <div class="products-number">
              <strong>Show</strong>  <a href="#" class="btn btn-default btn-sm btn-primary">12</a>  <a href="#" class="btn btn-default btn-sm">24</a>  <a href="#" class="btn btn-default btn-sm">All</a> products
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="products-sort-by">
              <strong>Sort by</strong>
              <select name="sort-by" class="form-control">
                <option>Price</option>
                <option>Name</option>
                <option>Sales first</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
