

<div id="all">

  <div id="content">
    <div class="container">


      <div class="col-md-9" id="checkout">

        <div class="box">
          <form method="post" action="checkout2.html">



             <app-payment-form></app-payment-form>


          </form>
        </div>
        <!-- /.box -->


      </div>
      <!-- /.col-md-9 -->

    <app-order-summary></app-order-summary>
      <!-- /.col-md-3 -->

    </div>
    <!-- /.container -->
  </div>
  <!-- /#content -->



</div>
<!-- /#all -->


