<table class="table">
	<tr>
		<td>Sub total</td>
		<td>&#8369; {{ basket.subTotal | number_format(2) }}</td>
	</tr>
	<tr>
		<td>Shipping</td>
		<td>&#8369; 5.00</td>
	</tr>
	<tr>
		<td class="success">Total</td>
		<td class="success">&#8369; {{ (basket.subTotal + 5) | number_format(2) }}</td>
	</tr>
</table>
